<h1>Child WITH CHANGE DETECTION DETACH FIX</h1>

<button (click)="click()">I do Nothing</button>
<br>
<button (click) = "changeColor()">Color Change</button>
<button (click) = "updateSalary()">Update Salary</button>

<h1 [style.color]="colorChange ? 'red' : 'black'">Employees</h1>

<div *ngFor="let emp of employees; trackBy: trackById">
    <p>Id: {{emp.id}}</p>
    <p>Name: {{emp.employee_name}}</p>
    <p>Salary: {{emp.employee_salary}}</p>
    <p>Salary Weekly: {{getWeeklySalary(emp.employee_salary)}}</p>
    <!-- <p>Salary Weekly: {{emp.employee_salary | salary}}</p> -->
    <hr>
</div>

<hr>
<app-nested-one [colorChange]="colorChange"></app-nested-one>